#Ignore .DS_Store files
.DS_Store

#Ignore .csv files
*.csv

#Ignore .xlsx files
*.xlsx

#Ignore test files
src/ProjectTwo/SmoothTester.java
src/ProjectTwo/PlotterTest.java

#Ignore files in lib folder
lib/*